<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">

    <title>contact</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="container">
        <h1>contact</h1>
        <div id="contact">
            <div class="row">
                <div>Bookings Switzerland</div>
                <div><a href="mailto:info@kristinahofstetter.com">Kristina Hofstetter</a></div>
            </div>
            <div class="row">
                <div>Bookings Belgium</div>
                <div><a href="mailto:griet@rumoer.be">Griet De Blende</a></div>
            </div>
            <div class="row">
                <div>Promo and label</div>
                <div><a href="mailto:hilke@redbrickrecords.ch">Red Brick Records</a></div>
            </div>
        </div>
    </div>
</body>
