<div class="footer">
    <div>
        <h2>Stay up to date</h2>
        <div class="mailchimp">
            <div id="mc_embed_signup">
              <form action="https://hilk.us3.list-manage.com/subscribe/post?u=c23a5515c6a9036f811db9d8b&amp;id=53853ea4b0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                novalidate>
                <div id="mc_embed_signup_scroll">
        
                  <div class="mc-field-group">
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                      placeholder="type your email (required)">
                  </div>
                  <div class="mc-field-group">
                  </label>
                  <input type="text" value="" name="CITY" class="email" id="mce-CITY"
                    placeholder="your city">
                </div>
                <div class="mc-field-group">
                </label>
                <input type="email" value="" name="COUNTRY" class="email" id="mce-COUNTRY"
                  placeholder="your country">
              </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_c23a5515c6a9036f811db9d8b_53853ea4b0" tabindex="-1" value=""></div>
                  <input type="submit" value="subscribe to my newsletter" name="subscribe" id="mc-embedded-subscribe"
                    class="button">
                </div>
            </div>
            </form>
            <input type="submit" value="subscribe to my telegram channel" name="subscribe" id="mc-embedded-subscribe"
                    class="button">
          </div>
    </div>
    <div>
        <h2>Follow me</h2>
        <ul>
            <li>spotify</li>
            <li>apple music</li>
            <li>bandcamp</li>
            <li>soundcloud</li>
            <li>mastodon</li>
            <li>bluesky</li>
            <li>instagram</li>
            <li>youtube</li>
            <li>facebook</li>
        <ul>
    </div>
    <div>
        <ul>
            <li><a href="/contact">contact</a></li>
            <li><a href="press">press</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="/music">music</a></li>
            <li><a href="/shows">tour dates</a></li>
            <li><a href="/read">readings</a></li>
        </ul>
    </div>
</div>


<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('hilkeu', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#aa98fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
