<div class="header">
    <div class="title"><a href="/">hilke</a></div>
    <div class="socials">
        <div class="list-wrapper">
            <ul>
                <li>
                    <a href="https://spoti.fi/2YDSxPo" target="_blank">
                        <img src="/assets/Spotify.png">
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/hilkeu" target="_blank">
                        <img src="/assets/Soundcloud.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/hilk.eu/" target="_blank">
                        <img src="/assets/Instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/hilkeu" target="_blank">
                        <img src="/assets/Facebook.svg">
                    </a>
                </li>
                <li><a href="https://twitter.com/hilkeros" target="_blank">
                        <img src="/assets/Twitter.svg">
                    </a>
                </li>
            </ul>
        </div>        
    </div>
    <div class="menu">
        <ul>
            <!-- <li><a href="/greta">greta</a></li> -->
            <li><a href="/about">about</a></li>
            <li><a href="/about#press">press</a></li>
            <li><a href="/shows">shows</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </div>
</div>
