<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/general.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">

  <title>hilke</title>
</head>

<body>
  <%- include('header'); -%>

<div class="homeContainer">
  <div>
    <div class="container">
   
      'piano feroce' out now
      <div class="links">
        <a href="https://open.spotify.com/album/1ocMjxKFCxJpiT6gA1fFuO?si=QLwJwvI2RUimfPVNNT0ijg">spotify</a>
        <a href="https://music.apple.com/us/album/piano-feroce-ep/1719627708">apple music</a>
      </div>
    </div>
  
    <div class="mailchimp">
      <div id="mc_embed_signup">
        <form action="https://hilk.us3.list-manage.com/subscribe/post?u=c23a5515c6a9036f811db9d8b&amp;id=53853ea4b0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll">
  
            <div class="mc-field-group">
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                placeholder="type your email (required)">
            </div>
            <div class="mc-field-group">
            </label>
            <input type="text" value="" name="CITY" class="email" id="mce-CITY"
              placeholder="your city">
          </div>
          <div class="mc-field-group">
          </label>
          <input type="email" value="" name="COUNTRY" class="email" id="mce-COUNTRY"
            placeholder="your country">
        </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_c23a5515c6a9036f811db9d8b_53853ea4b0" tabindex="-1" value=""></div>
            <input type="submit" value="subscribe to my newsletter" name="subscribe" id="mc-embedded-subscribe"
              class="button">
          </div>
      </div>
      </form>
    </div>
  </div>
 
  <div class="youtubeFrame">
    <iframe class="youtubeVideo" src="https://www.youtube.com/embed/fR7hY08GBD8?si=COoDicr1OlceQxj-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
</html>
