<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>hilke - press</title>
</head>

<body>
    <div class="container">
        <h1 class="my-4">hilke: press page</h1>
        <h2 class="my-4">audio</h2>

        'Silent Violent' full album - <a
            href="https://www.dropbox.com/sh/d1gvqnoywnryilr/AADyxgoi4xORLqNDdnOszqmka?dl=0" target="_blank">wav</a> -
        <a href="https://www.dropbox.com/sh/elj4fspjb8dl5nd/AAApm32WpPdkpM7srnkKM0bba?dl=0" target="_blank">mp3</a> - 
        <a href="https://soundcloud.com/hilkeu/sets/rulumu-silent-violent/s-g69EBGdNtV0" target="_blank">Soundcloud</a>

        <h2 class="my-4">visuals</h2>

        <p><a href="https://www.dropbox.com/s/0tm1xkomnymtnx7/Hilke_SilentViolent_3000px_HighRes.jpg?dl=0"
                target="_blank">'Silent Violent' album cover</a> -
            <a href="https://www.dropbox.com/s/97artj1m6sx2hv5/Hilke_Paradoxes_3000px_HighRes.jpg?dl=0"
                target="_blank">'Paradoxes' single cover</a> -
            <a href="https://www.dropbox.com/s/0dak1mgbj6056rl/Hilke_Greta_cover_3000px.jpg?dl=0"
                target="_blank">'Greta' single
                cover</a>
        </p>
        <p>
            <a href="https://www.dropbox.com/sh/l6f5ibq1w5odhke/AACF4SATQqvepLxgPxqwvAC4a?dl=0" target="_blank">press
                photos</a>
        </p>

        <h2>bio</h2>
        <p>
            Finally it is there: Hilke’s album Silent Violent, a ’coming of gender’ story about - among other things -
            finding your own voice, hiding your feelings, and failed masculinity.
        </p>
        <p>

            Hilke is a former member of the Belgian dream pop outfit Amatorski and released some electronic tracks under
            the moniker Hroski. Now she shows herself in all honesty under her own name: Hilke.
        </p>
        <p>
            During the creation process, Hilke was searching for her own voice, somewhere on the spectrum between male
            and female. After she started her solo project, it became clear again that singing is an important factor in
            the emotional power of music. Therefore she wanted to make songs, where voices take a significant role in
            the music. She started to look for her own way of singing, a way that also would feel in harmony with her
            gender identity. She asked a couple of singers who she admires, to listen to her demos and to interpret the
            songs in their own way. Those collaborations inspired her, as a writer and a producer, but also as a singer.
        </p>
        <p>
            Hilke sees her personal journey more as a kind of metaphor for a process that we, as a society, could or
            should go through. Questioning her own gender identity, questioning gender as a social construct, made her
            more aware about the importance of empathy and compassion, the ability to talk about emotions, show
            vulnerability, and about the failing fundamentals of (cis)male identity and patriarchy. "I believe that, as
            a society, we could benefit from a more 'feminine' or 'gender fluid' or diverse approach,”, she says, "where
            there is more balance between empathy, kindness, respect, vulnerability and strength."
        </p>
        <p>
            The album contains vocal features by Gregory Frateur (Dez Mona), Frank Powers (Dino Brandão) and Daniela
            Weinmann (Odd Beholder), but Hilke sings also herself on a couple of tracks. The songs are sometimes
            danceable, often slow, both deranging and soothing, fragile, but confident, like you would be dancing on
            ice.
        </p>
        <p>
            Pumping basses and banging electronic beats are combined with angelic vocals and melancholic atmospheres,
            dystopian vocal chops and chilling and breath-taking build-ups. 'Silent Violent' has become a disturbing
            journey wandering between the dance floor, consoling goosebump moments and socially critical contemplation.
        </p>
        </p>

        <h2 class="my-4">dutch version</h2>

        <p>
            Het was even wachten op het eerste soloalbum van Hilke. Uiteindelijk is 'Silent Violent' een soort 'coming
            of gender'-verhaal geworden, over de zoektocht naar een eigen stem, het angstvallig verborgen houden van
            gevoelens en het failliet van het mannelijke ideaal.
        </p>
        <p>
            Hilke Ros kennen we als bassiste van Amatorski. Ze bracht eerder een paar elektronische tracks uit onder het
            pseudoniem Hroski. Ze woont sinds een paar jaar in Zwitserland. Nu treedt ze in alle eerlijkheid onder haar
            eigen naam naar buiten, als 'Hilke'.
        </p>
        <p>
            Tijdens het creatieproces ging Hilke op zoek naar haar eigen stem, ergens binnen het spectrum tussen
            mannelijk
            en vrouwelijk. Toen ze met haar soloproject begon, werd het opnieuw duidelijk hoe belangrijk zingen is en
            welke
            rol de stem speelt bij de emotionele impact van muziek. Ze wilde weer echte songs maken, waarbij stemmen
            centraal zouden staan. Ze zocht naar haar eigen manier van zingen, een manier die in harmonie kon staan met
            haar
            genderidentiteit. Ze vroeg een aantal zangers en zangeressen naar wie ze opkeek, uit België en uit
            Zwitserland,
            om naar haar demo's te luisteren en een eigen draai te geven aan haar songs. Die wisselwerking werkte
            inspirerend om verder te groeien, als componiste en producer, maar ook als zangeres.
        </p>
        <p>
            Hilke ziet haar persoonlijk verhaal meer als een soort metafoor voor een proces dat we als maatschappij
            kunnen
            of moeten doormaken. Toen ze haar eigen genderidentiteit in vraag begon te stellen en gender als een sociale
            constructie begon te doorgronden, werd het ook zichtbaar dat we meer plaats moeten geven aan empathie, en
            hoe
            belangrijk het is om over gevoelens te kunnen praten en zich kwetsbaar te kunnen opstellen. Het werd
            duidelijk
            hoe broos de fundamenten zijn van onze (cis)mannelijke, patriarchale identiteit. 'Ik ben ervan overtuigd dat
            we
            als maatschappij wel zouden varen bij een meer “vrouwelijke” of genderfluide en diverse aanpak', zegt ze,
            'waar
            er meer evenwicht is tussen empathie, vriendelijkheid en wederzijds respect, waar we tegelijk kwetsbaar en
            sterk
            kunnen zijn.'
        </p>
        <p>
            Op het album zijn er verschillende vocale gasten te horen: Gregory Frateur van Dez Mona,
            Frank Powers (Dino Brandão), en Daniela Weinmann (Odd Beholder), maar Hilke zingt ook zelf op een aantal
            nummers. Soms zijn de songs heel dansbaar, vaak traag, de muziek snijdt en zalft tegelijk, klinkt tegelijk
            breekbaar en zelfverzekerd, alsof je op schaatsen zou dansen.
        </p>
        <p>
            Dreunende bassen en knalharde beats worden gecombineerd met breekbare, engelachtige stemmen, dystopische
            'vocal
            chops' en melancholische klanklagen, een cocktail die vaak uitmondt in een adembenemende apotheose. 'Silent
            Violent' is een ietwat verstorende reis geworden tussen de dansvloer, troostende kippenvelmomenten en
            maatschappijkritische contemplatie.

        </p>

        <h2 class="my-4">greta</h2>

        <p>Greta (feat. Gregory Frateur) -
            <a href="https://www.dropbox.com/s/zvltmffdh8kf7zu/Hilke%20ft.%20Gregory%20Frateur%20-%20Greta.wav?dl=0"
                target="_blank">wav</a> -
            <a href="https://www.dropbox.com/s/9p3li1yao5lyect/Hilke%20ft.%20Gregory%20Frateur%20-%20Greta.mp3?dl=0"
                target="_blank">mp3</a> -
            <a href="https://soundcloud.com/hilkeu/greta/s-tEuTSjTm1Zm?in=hilkeu/sets/rulumu-silent-violent/s-g69EBGdNtV0"
                target="_blank">Soundcloud</a>
        </p>

        <p>Last year, we have been spending a lot of time in front of our webcams and on social media.</p>
        <p>In her debut single <em>Greta</em>, Hilke challenges us to contemplate on how we deal with our emotions on
            the internet. Why do we get angry so fast? And why are we so eager to find someone to blame?</p>

        <p>The track, featuring vocals by Gregory Frateur (Dez Mona), is danceable but slow, both deranging and
            soothing, fragile, but confident, like you would be dancing on ice.</p>

        <p>The song is a forerunner to Hilke’s upcoming album <em>Silent Violent</em>, a ’coming of gender’ story about
            finding your own voice, hiding your feelings, and failed masculinity.</p>

        <p>Hilke is a former member of the Belgian dream pop outfit Amatorski and released some electronic tracks under
            the moniker Hroski. Now she shows herself in all honesty under her own name: Hilke.</p>
        <p>‘Greta’ is not only a song, but also an interactive web experience.</p>
        <p>Text your friends, switch your cameras on, show off your lip syncing skills, or just dance on
            <a href='../greta'>hilk.eu/greta</a>
        </p>

        <h3 class="my-4">dutch version</h2>

            <p>Het voorbije jaar brachten we veel tijd door voor onze webcams en op sociale media.</p>
            <p>Met haar debuutsingle <em>Greta</em> daagt Hilke ons uit om na te denken over hoe we met onze emoties
                omgaan op het internet. Waarom zijn we zo snel boos? En waarom geven we zo graag anderen de schuld?</p>

            <p>Het nummer - dat overigens gezongen wordt door Gregory Frateur van Dez Mona - snijdt maar zalft tegelijk,
                het is dansbaar, maar traag, tegelijk breekbaar en zelverzekerd, alsof je op schaatsen zou dansen.</p>

            <p>Hilke bezorgt ons een voorsmaakje van haar album <em>Silent Violent</em>, dat in de herfst uitkomt. Het
                wordt een ‘coming of gender’-verhaal, over zoeken naar je eigen stem, kwetsbare mannelijkheid, je
                gevoelens verbergen, of juist beter niet?</p>

            <p>‘Greta’ is niet alleen een song, maar ook een interactieve website. Sms je vrienden, schakel je camera
                in, toon je playbackkunsten of zet het gewoonweg op een dansen:
                <a href='../greta'>hilk.eu/greta</a>
            </p>

    </div>
</body>

</html>