body {
    background-image: url("../assets/beton.jpg");
	background-repeat: repeat;
	background-size: cover;
    background-color: black;
    color: var(--silentGreen);
}

#contact {
    color: white;
    background-color: rgba(0,0,0,0.6);
    margin-top: 32px;
    padding: 32px;
    font-size: 0.8em;
    line-height: 2em;
}

.row {
    display: flex;
}

.row div {
    flex: 1;
    max-width: 300px;
}
