body {
    /* background-image: url("../assets/beton.jpg"); */
    height: 100vh;
	/* background-repeat: repeat;
	background-size: cover; */
    background-color: #2e2e2e;
    color: var(--paradoxesPink);
}

.container {
    margin-left: 5%;
    margin-top: 15%;
}

.links {
    font-size: 1.8em;
    padding-top: 16px;
}

.instagramFrame {
    margin-bottom: 64px;
}

@media only screen and (max-width: 600px) {
    .title {
        margin-top: 80%;
    }
}
